// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #0066ff !default;
$header-bg-color-secondary: #742774 !default;

// Text
$section-headings-color: #742774 !default;
$body-text-color: #605e5c !default;
$body-link-color: #0066ff !default;
$blockquote-text-color: #8a8886 !default;

// Code
$code-bg-color: #f2d9f2 !default;
$code-text-color: #484644 !default;

// Borders
$border-color: #742774 !default;
$table-border-color: #742774 !default;
$hr-border-color: #742774 !default;
